<div class="card mt-5" style="height: 400px; width: 300px">
  <div
    class="card-img-container d-flex justify-content-center"
    style="cursor: pointer"
  >
    <img
      class="img-fluid"
      src="{{ data.image }}"
      alt="Card image cap"
      style="width: 150px; height: 200px"
      routerLink="/details/{{ data.id }}"
    />
  </div>
  <div class="card-body" style="overflow: hidden">
    <h5 class="card-title">{{ data.title }}</h5>
    <p class="card-text" style="overflow: hidden; max-height: 60px">
      {{ data.description }}
    </p>
    <button
      class="btn btn-danger"
      *ngIf="!addButton"
      (click)="addButton = true"
    >
      Add To Cart
    </button>
    <div class="d-flex buttons" *ngIf="addButton">
      <input type="number" class="form-control" [(ngModel)]="amount" />
      <button class="btn btn-danger" (click)="add(); addButton = false">
        Add To Cart
      </button>
    </div>
    <p>{{ data.price }}</p>
  </div>
</div>
